<div class="background" style="background-image: url(<%= @card.img_url %>)">
  <div class="overlay">
    <div class="centered-card">
      <div class="border">
        <h1><%= @card.title %></h1>
        <hr>
        <h2>Edit Card:</h2>
        <br>
        <%= render 'card_form' %>
      </div>
    </div>
  </div>
</div>
