<div class="background" style="background-image: url(<%= asset_path "book.jpg" %>)">
  <div class="overlay">
    <div class="centered-form">
      <div class="border">
        <h1><i class="fa fa-plus-circle"></i> New Card</h1>
        <%= render 'card_form' %>
      </div>
    </div>
  </div>
</div>
