<div class="background" style="background-image: url(<%= @card.img_url %>)">
  <div class="overlay">
    <div class="centered-card">
      <div class="border">
        <h1><%= @card.title %></h1>
        <hr>
        <h3><%= @card.heading.upcase %></h3>
        <h3><%= @card.description %></h3>
      </div>
    </div>
  </div>
</div>
