<div class="background" style="background-image: url(<%= @deck.img_url %>)">
  <div class="overlay">
    <div class="centered-card">
      <div class="border">
        <h1><%= @deck.name %></h1>
        <hr>
        <h2>Edit Deck:</h2>
        <br>
        <%= render 'deck_form' %>
      </div>
    </div>
  </div>
</div>
